.dashboard-wrapper {
  background-image: url('../bg.png');
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Don't repeat */
  background-attachment: fixed; /* Optional: makes it stay on scroll */
  color: #0f0000; /* Text color for contrast */
 
  /* padding: 20px; */
  /* background: #f3f4f6; */
  min-height: 100vh;
}


.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.dashboard-header h2{
  color: #18244b;
  padding-left: 20px;
}

.create-btn {
  background-color: #2563eb;
  color: #fff;
  border: none;
  margin-right: 20px;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.create-btn:hover {
  background-color: #1e40af;
}

.stats-cards {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.stat-card {
  background: #fff;
  flex: 1;
  min-width: 150px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.stat-card h3 {
  margin: 0 0 8px;
  font-size: 16px;
  color: #6b7280;
}

.stat-number {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.progress-bar {
  height: 6px;
  background: #e5e7eb;
  border-radius: 4px;
}

.progress-fill {
  height: 6px;
  background: #3b82f6;
  border-radius: 4px;
  transition: width 0.5s;
}

.stat-card.upcoming .progress-fill {
  background: #10b981;
}

.stat-card.past .progress-fill {
  background: #ef4444;
}

.trip-grid {
  display: grid;
    padding: 20px;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.empty-text {
  text-align: center;
  font-style: italic;
  color: #9ca3af;
}
